.WeatherBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 66%;
  margin: 20px auto;
  padding: 10px;
  border-top: 1px solid rgba(50, 50, 50, 0.2);
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}